body {
	color: #373737;
	background: #f2f2f2;
	font-size: 16px;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.reviewAge {
	font-weight: bold;
}

.ancient {
	color: red;
}

.fetching {
	opacity: 0;
}

#reviewsTodo, #reviewsRejected, #reviewsWaiting {
	-webkit-transition: opacity 0.05s ease-in-out;
}